<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479019554609-e318m5m6kqabmmkhha6c1hpuotj0dcm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479019554609-e318m5m6kqabmmkhha6c1hpuotj0dcm7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>479019554609-8j3lbmq7imhhfpooav466026k10uoak9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBun5JTPaSMwxVF4nfF4scU0u3N2LI5mlY</string>
	<key>GCM_SENDER_ID</key>
	<string>479019554609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>farmcare.app</string>
	<key>PROJECT_ID</key>
	<string>farmcare-app</string>
	<key>STORAGE_BUCKET</key>
	<string>farmcare-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479019554609:ios:7fb38f3c9827072ef78210</string>
	<key>DATABASE_URL</key>
	<string>https://farmcare-app.firebaseio.com</string>
</dict>
</plist>